/* Svijetlo plava: #e5f4fb
Plava: #008fd0
Tamno plava: #242a56
Zelena: #5e9b00
Siva: #efefef
Bijela: #ffffff */

* {
  box-sizing: border-box;
  font-family: helvetica;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header--shadow {
  width: 100%;
  box-shadow: 0 1px 2px #cdcdcd;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.test {
  display: flex;
  align-items: center;
}

.header__logo-and-nav-wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  width: 200px;
  height: 80px;
  margin-right: 80px;
  align-self: center;
}

.header__logo__link {
  display: flex;
  align-items: center;
}

.header__logo__link__img {
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  column-gap: 24px;
}

.header__nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header__nav__link__label {
  font-size: 16px;
}

.chevron__img {
  width: 26px;
  height: 24px;
}

.hero {
  background-color: #e5f4fb;
}

.hero__links-and-sigin-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
  margin-left: -80px;
  margin-bottom: 30px;
}

.hero__links {
  display: flex;
  align-items: center;
}

.hero__links-home {
  display: flex;
  align-items: center;
}

.hero__home__link {
  text-decoration: none;
  color: #343c83;
  margin-right: 4px;
}

.hero__home__img {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.hero__links-credit-cards {
  text-decoration: none;
  color: #343c83;
}

.hero__signin {
  display: flex;
  align-items: center;
}

.hero__signin__label {
  display: flex;
  align-items: center;
  color: #343c83;
  margin-right: 6px;
}

.hero__signin__link__a {
  color: #343c83;
  margin-right: 10px;
}

.hero__signin__icon {
  display: flex;
  align-items: center;
}

.hero__signin__icon__img {
  width: 24px;
  height: 24px;
}

.hero__credit-card-and-representative {
  display: flex;
  justify-content: space-around;
  margin-left: 65px;
  margin-right: 50px;
}

.hero__credit-card-info {
  margin-right: 40px;
}

.hero__credit-card-info__header {
  color: #008fd0;
  font-size: 27px;
  margin-top: 14px;
  margin-bottom: 12px;
}

.hero__credit-card-info__subtitle {
  color: #242a56;
  font-size: 31px;
  margin-bottom: 30px;
}

.hero__credit-card-info-list {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.hero__credit-card-list-checkmark__img {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.hero__credit-card-info-text {
  color: #008fd0;
  margin-top: 5px;
  font-size: 20px;
}

.hero__credit-card-info-text--bold {
  color: #008fd0;
  font-weight: 700;
}

.hero__credit-card-info-text-star-addition {
  color: #343c83;
  font-size: 16px;
  margin-top: 22px;
  margin-bottom: 18px;
}

.check-now-button {
  background-color: #5e9b00;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
  padding: 5px 0;
  cursor: pointer;
}

.check-now-button-title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  margin-left: 24px;
  margin-right: 106px;
  padding: 20px 0;
}

.check-now-button-chevron {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.hero-representative-wrapper {
  width: 370px;
  background-color: #2a2e5e;
  border-radius: 20px;
  padding: 20px 50px;
  margin-right: 80px;
  margin-bottom: 30px;
}

.hero-representative-card-image {
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hero-representative__heading {
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}

.hero-representative-preview-wrapper {
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.hero-representative-about {
  width: 100px;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  font-weight: 100;
}

.hero-representative-separator {
  height: 56px;
}

.hero-representative-additional-message {
  color: #ffffff;
  font-weight: 100;
  font-size: 12px;
  text-align: center;
}

.hero-representative-about--bold {
  font-weight: 800;
}
